# PEC e-SUS APS Config Template
PEC_BASE_URL=https://aguasbelas.esuscloud.com.br/
PEC_USER=089340434-90
PEC_PASSWORD=saude2026ab
PEC_HEADLESS=true
PEC_POOL_SIZE=4
PEC_RATE_DELAY_MS=3500
PEC_GLOBAL_RATE_HZ=6
PEC_IMPORT_WORKERS=10
